/* ===== */
/* SETUP */
/* ===== */

:root {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --bg-tertiary: #dae4f2;
  --color-primary: #d26730;
  --color-dark: #4b2516;
  --color-light: #d9d4c8;
  --color-mid: #e09b73;
  --transition-bounce: 300ms cubic-bezier(0.175, 0.885, 0, 2);
  --transition-speed: 300ms ease;
}

body {
  color: var(--bg-primary);
  background-color: white;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: start;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: var(--bg-primary);
}

body::-webkit-scrollbar-thumb {
  background: var(--text-secondary);
}
.nav-spacer {
  margin-left: 5rem;
}
p,
h1,
h2 {
  margin: 0;
}

i {
  font-size: 2rem;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--bg-tertiary);
}
/* ====== */
/* Navbar */
/* ====== */

.navbar {
  height: 100vh;
  position: fixed;
  background: var(--bg-primary);
  transition: var(--transition-speed);
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

#nav-logo {
  filter: grayscale(0%) opacity(1);
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  display: none;
  margin: none;
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}
.nav-link i {
  min-width: 2rem;
  margin: 0 1.25rem;
}

.link-text {
  display: none;
  /* margin-left: 1rem; */
  font-size: 1.5rem;
  text-align: end;
}

.primary-color {
  color: var(--color-primary);
  transition: var(--transition-speed);
}

#logo {
  display: none;
}

#logo-text {
  margin: 0;
  text-align: right;
}
/* ============= */
/* PAGE CONTENTS */
/* ============= */

.landing {
  margin-bottom: 4rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

h1 {
  font-size: 64px;
  font-family: brandon-grotesque, sans-serif;

  font-weight: 900;
}

h2 {
  font-family: brandon-grotesque, sans-serif;
  font-size: 32px;
  font-weight: 100;
}

h3 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-size: 30px;
  margin: 0;
  padding-bottom: 1rem;
}
h5 {
  font-weight: 100;
  margin: 0;
  text-align: left;
}
.title {
  text-align: center;
  padding: 0;
}

#logo-lrg {
  padding: 2rem 2rem;
  width: 10rem;
  transition: var(--transition-bounce);
}
#logo-lrg:hover {
  transform: scale(1.5);
}

.articles {
  padding-top: 4rem;
}

.container {
  padding: 0 5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5rem;
  color: var(--bg-secondary);
  /* background-color: var(--text-primary); */
}

.circle {
  border-radius: 50%;
  border: 0.25rem solid var(--bg-primary);
  max-width: 300px;
  transition: var(--transition-bounce);
}

.text-box {
  text-align: center;
  padding: 2rem 0rem 2rem;
  max-width: 35rem;
  min-width: 20rem;
}

.order-left {
  order: 2;
}
.order-right {
  order: 1;
}
/* ============= */
/* MEDIA QUERIES */
/* ============= */
@media only screen and (max-width: 599px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  .container {
    padding: 0 3rem;
  }

  .nav-spacer {
    margin-left: 0rem;
  }

  h1 {
    font-size: 48px;
  }
}

@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    padding-top: 1em;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  #logo {
    display: block;
    max-width: 60px;
  }

  #nav-logo {
    display: flex;
    justify-content: space-evenly;
  }

  .landing {
    justify-content: space-evenly;
    height: 800px;
  }
}

/* ipad size and up */
@media only screen and (min-width: 970px) {
  .container {
    flex-direction: row;
  }
  .text-box {
    padding: 0 3rem;
    max-width: 35rem;
    min-width: 20rem;
    text-align: left;
  }
  .order-left {
    order: 1;
  }
  .order-right {
    order: 2;
  }

  .title {
    text-align: right;
  }

  .circle:hover {
    transform: scale(1.5);
  }
  .landing {
    flex-direction: row;
  }

  h3 {
    font-size: 28px;
  }
  p {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 84px;
  }
  h2 {
    font-size: 48px;
  }
}
