/* ===== */
/* SETUP */
/* ===== */

:root {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --bg-tertiary: #dae4f2;
  --color-primary: #d26730;
  --transition-bounce: 300ms cubic-bezier(0.175, 0.885, 0, 2);
  --transition-speed: 300ms ease;
  --slant-pos: 5deg;
  --slant-neg: -5deg;
}

body {
  color: var(--bg-primary);
  background-color: var(--bg-tertiary);
  /* background-color: white; */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: start;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: var(--bg-primary);
}

body::-webkit-scrollbar-thumb {
  background: var(--text-secondary);
}
.nav-spacer {
  margin-left: 5rem;
}
p,
h1,
h2 {
  margin: 0;
}

i {
  font-size: 2rem;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
/* ====== */
/* Navbar */
/* ====== */

.navbar {
  height: 100vh;
  position: fixed;
  background: var(--bg-primary);
  transition: var(--transition-speed);
  z-index: 10;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

#nav-logo {
  filter: grayscale(0%) opacity(1);
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin: none;
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}
.nav-link i {
  min-width: 2rem;
  margin: 0 1.25rem;
}

.link-text {
  visibility: hidden;
  opacity: 0;
  padding-left: 2rem;
  font-size: 1.5rem;
  text-align: end;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 700;
  transition: var(--transition-speed);
}

.primary-color {
  color: var(--color-primary);
  transition: var(--transition-speed);
}

#logo-text {
  display: none;
  margin: 0;
  padding: 0;
  text-align: right;
  font-size: 1.5rem;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 900;
}

#logo {
  display: block;
  max-width: 60px;
}
/* ============= */
/* PAGE CONTENTS */
/* ============= */

.landing {
  /* margin-bottom: 4rem; */
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

h1 {
  font-size: 64px;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 900;
}

h2 {
  font-family: brandon-grotesque, sans-serif;
  font-size: 32px;
  font-weight: 400;
}

h3 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin: 0;
  padding-bottom: 1rem;
}
p {
  font-size: 16px;
}
h5 {
  font-weight: 100;
  margin: 0;
  text-align: left;
}
.title {
  text-align: center;
  padding: 0;
}

#logo-lrg {
  padding: 2rem 2rem;
  width: 10rem;
  transition: var(--transition-bounce);
}
#logo-lrg:hover {
  transform: scale(1.5);
}
#hint {
  display: flex;
  justify-content: space-evenly;
  height: 20vh;
  color: white;
  padding-top: 1rem;
}
#hint h3 {
  font-weight: 900;

  margin-bottom: 10vh;
}
.articles {
  padding: 0 3rem;
}

.container {
  display: flex;
  padding: 0 3rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5rem;
  color: var(--bg-secondary);
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0 5px 5px;
}

.circle {
  margin: 0 3rem;
  border-radius: 50%;
  box-shadow: 0 0 5px 5px;
  max-width: 200px;
  transition: var(--transition-bounce);
  background-color: var(--bg-primary);
  transform: scale(1.5);
}

.text-box {
  text-align: center;
  padding: 5rem 0rem 2rem;
  max-width: 35rem;
}

.order-left {
  order: 2;
}
.order-right {
  order: 1;
}

/* ============= */
/* MEDIA QUERIES */
/* ============= */
@media only screen and (max-width: 599px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 10vh;
  }

  .navbar-nav {
    flex-direction: row;
    width: 100vw;
  }

  .nav-link {
    justify-content: center;
    width: 20vw;
    height: 100%;
  }

  .nav-spacer {
    margin-left: 0rem;
  }

  h1 {
    font-size: 48px;
  }
  #nav-logo {
    display: none;
  }
  .link-text {
    display: none;
    padding-left: 0;
  }
  .container {
    padding: 0;
    margin: 1rem;
    margin-bottom: 5rem;
  }
  .text-box {
    padding: 3rem 2rem 2rem;
  }

  p {
    font-size: 14px;
  }
  .circle {
    max-width: 150px;
    margin: 0;
  }
  .articles {
    padding: 0;
  }
  main {
    margin-bottom: 4rem;
  }
}
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    padding-top: 1em;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    visibility: visible;
    opacity: 1;
  }
  .navbar:hover #logo-text {
    display: block;
  }
  #nav-logo {
    display: flex;
    justify-content: space-evenly;
  }

  .landing {
    justify-content: space-evenly;
    height: 90vh;
  }

  .circle {
    max-width: 300px;
    transform: scale(1.25);
  }
}

/* ipad size and up */
@media only screen and (min-width: 970px) {
  .container {
    flex-direction: row;
    background-color: transparent;
    border-radius: 0;
    box-shadow: 0 0 0 0;
    padding: 0;
  }

  .circle {
    transform: scale(1);
  }
  .text-box {
    padding: 0 2rem;
    max-width: 35rem;
    min-width: 20rem;
    text-align: left;
  }
  .order-left {
    order: 1;
  }
  .order-right {
    order: 2;
  }

  .title {
    text-align: right;
  }

  .landing {
    flex-direction: row;
  }
  .skewer-left:hover {
    transform: skewX(var(--slant-pos));
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0 5px 5px;
  }
  .left:hover {
    transform: skewX(var(--slant-neg));
  }
  .skewer-right:hover {
    transform: skewX(var(--slant-neg));
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0 5px 5px;
  }
  .right:hover {
    transform: skewX(var(--slant-pos));
  }
  .container:hover .circle {
    transform: scale(1.25);
  }
}

@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 76px;
  }
  h2 {
    font-size: 48px;
  }
  h3 {
    font-size: 28px;
  }
  p {
    font-size: 18px;
  }
}
